html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #036eb3;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: #036eb3;
  color: white;
}
